{% extends 'base.html' %}
{% block content %}

<main id="xo-main-content" class="content-for-layout focus-none" role="main" tabindex="-1">

  <section class="xo-section color-background-1" style="--margin: 0;--pt: 50;--pb: 0;">
    <xo-container>
      <div class="xo-page-heading xo-page-heading--center">
        <h1 class="xo-page-heading__title">Your Orders</h1>
      </div>
    </xo-container>
  </section>

  <section class="xo-section color-background-1" style="--margin: 0;--pt: 20;--pb: 50;">
    <xo-container>
      {% if orders %}
      {% for order in orders %}
      <div class="xo-cart-table" style="margin-bottom: 3rem;">
        <h3 style="margin-bottom: 1rem;">Order #{{ order.id }} — {{ order.status|title }}</h3>

        <table role="table" class="xo-table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in order.items.all %}
            <tr>
              <td>
                <div class="xo-cart-item">
                  <a href="#" class="xo-cart-item__image">
                    {% if item.product.images.all %}
                    <div class="xo-image" style="--xo-ratio-percent: 1/1;">
                      <img src="{{ item.product.images.all.0.image.url }}" alt="{{ item.product.name }}" width="860"
                        height="860" loading="lazy" is="xo-lazyload" />
                    </div>
                    {% else %}
                    <div class="xo-image">
                      <img src="/static/no-image.png" alt="No Image">
                    </div>
                    {% endif %}
                  </a>

                  <div class="xo-cart-item__content">
                    <div class="xo-cart-item__title">{{ item.product.name }}</div>
                    <div class="xo-cart-item__price">₹{{ item.price }}</div>
                  </div>
                </div>
              </td>
              <td>{{ item.quantity }}</td>
              <td>₹{{ item.total_price }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="xo-cart-table__price" style="text-align:right;margin-top:1rem;font-weight:600;">
          Total Amount: ₹{{ order.total_amount }}
        </div>

        <div class="xo-space xo-space--vertical" style="--space: 1rem"></div>

        <a href="{% url 'order_detail_page' order.id %}">
          <button class="xo-btn xo-btn--dark xo-btn--link xo-btn--slide-up">
            <span class="xo-btn__content">
              <span class="xo-btn__text" data-text="View Details">View Details</span>
            </span>
          </button>
        </a>
      </div>
      {% endfor %}
      {% else %}
      <p style="text-align:center;">No orders yet.</p>
      {% endif %}
    </xo-container>
  </section>

</main>

{% endblock %}
