{% extends 'admin_dashboard.html' %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            {% if category %} Edit Category {% else %} Add Category {% endif %}
                        </h4>

                        <form class="forms-sample"
                            action="{% if category %}{% url 'category_edit' category.id %}{% else %}{% url 'category_add' %}{% endif %}"
                            method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group mb-4">
                                <label for="categoryName">Name:</label>
                                <input type="text" class="form-control" id="categoryName" placeholder="Category Name"
                                    name="name" value="{{ category.name|default:'' }}">
                            </div>

                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <a href="{% url 'category_list' %}" class="btn btn-dark">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}